*{
	background: #050e2d;
}
header{
	font-family: ;
	font-size: 50px;
	color: #FFF;
	padding: 10px;
}
.games{
	padding: 0px 10px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 40px auto;
	}
.games h2{
	color: #fff;
	margin: 10px 0;
}
.games ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.games ul li{
	list-style: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	color: #fff;
}
.games ul li.active{
	background: #1aeeef;
	color: #050e2d;
	box-shadow: 0 0 10px #1aeeef;
}


.games.cardbx{
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	width: 280px;
	border-radius: 2px;
	margin: 20px 40px;
	background: #1b2141;
	overflow: hidden;
}
.card img{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.content{
	padding: 10px;
}
 h4{
	color: white;
	margin: 15px 0;
}
.games.cardbx.card.progress{
	position: relative;
	height: 10px;
	width: 100%;
	background: #35407e;
	margin-bottom: 15px;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.games.cardbx.card.progress span{
	position: absolute;
	height: 100%;
	width: 80%;
	border-radius: 10px;
	background: #1aeeef;
	box-shadow: 0 0 10px #1aeeef;
	transform:scaleX(0);
	transform-origin: left;
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate{
	100&{
		transform: scale(1);
	}
}
.games .cardbx .card .info{
	border-top: 2px solid #35407e;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
p{
	font-size: 1em;
	color: #fff;

}
.card a{
	display: inline-block;
	padding: 10px 20px;
	margin: 20px 0;
	border: 1px solid #1aeeef;
	text-decoration: none;
	font-weight: 700;
	border-radius: 5px;
	color: #fff;
	letter-spacing: 1px;
}
.card a:hover{
	background: #1aeeef;
	border: none;
	color: #050e2d;
	box-shadow: 0 0 10px #1aeeef;
}